#
### Operating System Files ###
#

# Mac
**/*.DS_Store

# Windows
**/Thumbs.db

# Mobile Tools for Java (J2ME)
**/.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
**/.attach_pid*
**/hs_err_pid*
**/velocity.log*
**/transaction.log*

**/*.checkstyle
**/*.class
**/*.ear
**/*.gitignore
**/*.jar
**/*.lock
**/*.log
**/*.out
**/*.swp
**/*.tmp
**/*.war
**/*~


#
### IDE ###
#

### STS / Eclipse ###
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans

### IntelliJ IDEA ###
**/.idea/
**/*.iws
**/*.iml
**/*.ipr

### NetBeans ###
**/nbproject/private/
#**/build/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/

# Maven
**/bin/
**/target/

# JRebel
**/rebel.xml

#
# Project specific
#

# integration test temps
fcrepo4-data
